@charset "utf-8";
/* CSS Document */

body{
	margin:0;
	background-image:url(nobel.jpg);
	}

#låda{
	width:80%;
	height:100%;
	position:absolute;
	margin-left:10%;
	}
	
header{
	width:100%;
	height:15%;
	float:left;
	}

h1{
	color:#FFF;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:100px;
	line-height:10px;
	text-align:center;
	}
	
h2{
	color:#23C111;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:50px;
	line-height:10px;
	text-align:center;
	}
	
nav{
	width:100%;
	height:8%;
	float:left;
	background-color:#C9C;
	}
	
ul{
	font-family:"Arial Black", Gadget, sans-serif;
		font-size:30px;
		list-style:none;
		padding:0;
		margin:0;
		text-align:center;
	
	}
	
li{
	line-height:80px;
	height:50%;
	width:33%;
	float:left;
	}
	
a{
	color:#036;
	text-decoration:none;	
}

article{
	background-color:#FC3;
	width:100%;
	height:125%;
	float:left;
	}
	
#articletext{
	width:80%;
	height:90%;
	margin-left:10%;
	margin-top:1%;
	
	}
	
p{
	font-family:"Times New Roman", Times, serif;
	font-size:24px;
}

figcaption{
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:18px;
	text-align:center;
	}
	
img{
	margin-right:auto;
	margin-left:auto;
	display:block;
	}